* {
  box-sizing: border-box;
}

h1 {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 60px;
  color: #f5b7b1;
  text-align: center;
}

.mainhead1 {
  margin-top: 50px;
}

a {
  text-decoration: none;
}

#menu {
  font-family: "Roboto", sans-serif, Helvetica;
  font-size: 18px;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 40px;
}

#menu a {
  text-decoration: none;
  color: #85c1e9;
  margin-left: 10px;
  margin-right: 10px;
}

.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.article {
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 59px;
}

.article_photo {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}

.article_wiki { 
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #1abc9c;
  text-indent: 10px;
}

.article_wiki_b { 
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #0BA2F5;
  text-indent: 10px;
}


@media (min-width: 768px) {
  .article_wiki {
    font-size: 15px;
  }

  .article_wiki_b {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  .article_wiki {
    font-size: 18px;
  }

  .article_wiki_b {
    font-size: 18px;
  }
}


@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.effect {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  min-width: 850px;
  max-width: 1120px;
  max-height: 600px;
  width: 100%;
  background: #84CDF6;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 35x;
}
figure.effect * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.effect img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}
figure.effect figcaption {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid white;
  border-width: 1px 1px 0;
}
figure.effect .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}
figure.effect h2 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}
figure.effect h2 span {
  font-weight: 800;
}
figure.effect h2:before,
figure.effect h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}
figure.effect h2:before {
  left: -1000%;
}
figure.effect h2:after {
  right: -1000%;
}
figure.effect p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 2em;
}
figure.effect a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.effect:hover img,
figure.effect.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.effect:hover figcaption,
figure.effect.hover figcaption {
  top: 7%;
  bottom: 7%;
}
figure.effect:hover p,
figure.effect.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}